<!DOCTYPE html>
<html>

<head>
    <title>Edit Contact</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <!-- ✅ Our SafeTrace CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<h2>Edit Contact</h2>

<form action="/contacts/update/<%= contact._id %>" method="POST">

<input
type="text"
name="name"
value="<%= contact.name %>"
required>

<input
type="text"
name="phone"
value="<%= contact.phone %>"
required>

<input
type="text"
name="relation"
value="<%= contact.relation %>"
required>

<button type="submit">
Update Contact
</button>

</form>

<br>

<a href="/contacts">
Back
</a>

</body>

</html>