<!DOCTYPE html>
<html>
<head>
    <title>SafeTrace</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h2>SafeTrace</h2>
    </nav>

    <div class="container">
        <h1>Women Safety Reporting Platform</h1>

        <p>
            Report vehicle harassment incidents safely and securely.
        </p>

        <a href="/register" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
    </div>

</body>
</html>